/*dagagrid列表行高*/
.datagrid-btable tr{height: 40px;}
/*combo中下拉箭头背景颜色*/
.combo-arrow{background-color:#1da028;}
.combo-arrow:hover{background-color:#1da028;}
/*input，分页，选择，按钮边框颜色*/
.window,.pagination .pagination-num,.pagination-page-list,select,input,.textbox,.easyui-linkbutton{border:solid 1px #1da028}
/*combobox下拉框被选中状态*/
.combobox-item-selected{
	/*background-color: rgba(119, 198, 126, 0.97);*/
    color: #ffffff;
}
.easyui-linkbutton:hover{    background: #4CAF50;
    color: #ffffff;
    filter: none;}
/*修改弹窗表头背景色*/
.window .window-header{background: #1da028;}
/*修改弹窗表头字体颜色*/
.window-header .panel-title{color: #ffffff;}
/*修改弹窗主体边框颜色*/
.window .window-body{border:solid 1px #1da028;border-top:none;}
/*鼠标经过弹窗表头工具栏改变透明度*/
.window .panel-tool a{opacity: 0.8;}
.window .panel-tool a:hover{opacity: 1;}
/*鼠标经过分页按钮透明度不变*/
.l-btn-disabled, .l-btn-disabled:hover{opacity: 1;}
.l-btn-disabled:hover{border:solid 1px #f4f4f4;}
/*鼠标经过按钮总体大小不变*/
.l-btn-plain:hover{border:solid 1px #1da028;padding:1px;}
/*给logo添加背景色*/
.header_bg{background:url(../../../img/login_top_left.png) no-repeat;}
/**/
.datagrid-row-over,.datagrid-header td.datagrid-header-over{
	background-color:rgba(29,160,40,0.6);
	color:white;
}
/**/
.combobox-item-hover{background-color: rgba(119, 198, 126, 1);;color:white;}
.l-btn-plain{border: solid 1px #ebebeb;}
