.layout-panel-north .north_logo{height:48px;/*overflow:hidden;*/}
.layout-panel-north .north_logo span,.layout-panel-north .north_logo .pf-user-photo,
.layout-panel-north .north_logo .pf-user-photo,.layout-panel-north .north_logo .pf-user-name,.layout-panel-north .north_logo .iconfont
{float: left;}
.layout-panel-north .north_logo .pf-user{float: right;margin-right:30px;padding:16px 10px;position: absolute;
	right:28px;top:-5px;}
.layout-panel-north .north_logo .pf-user:hover{background-color:#178320;}
.layout-panel-north .north_logo .pf-user-name,
.layout-panel-north .north_logo .pf-user>.iconfont{height:52px;line-height: 52px;font-size: 14px;}
.layout-panel-north .north_logo .pf-user-panel .iconfont{height:30px;line-height: 30px;font-size: 16px;
	color:#333;margin-right:15px;}
.layout-panel-north .north_logo .pf-user-panel span{height:30px;line-height: 30px;color:#333;}
.layout-panel-north .north_logo .pf-user-photo{height:40px;margin-right:10px;padding-top:5px;}
.layout-panel-north .north_logo .pf-user-name{margin-right:10px;}
.layout-panel-north .north_logo .pf-user .pf-user-panel{position: fixed; 
	background: white;top:68px;z-index:100;right:58px;}
.clearfix{clear: both;}
.layout-panel-north .north_logo .pf-user-opt li{width:79px;height:30px;padding-left:29px;
	padding-right:42px;background-color:white;}
#myPic .pf-user-opt, #myPic2{
	transition: all linear 0.3s;
	opacity: 0;
	height:0
}
#myPic:hover .pf-user-opt, #myPic:hover #myPic2{
	opacity: 1;
	height:90px;
}
#myPic2 li:hover{
	background: #f4f4f4;
}
#myPic2 li:hover i{
	color: #1da028;
}
.datagrid-toolbar, .datagrid-pager{background: #ebebeb;}
